<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <title>SpotyTube</title>

    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script src="/js/javascript_header.js"></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
          content="990115409802-q9o1n9f5hab5lrlg84l21u2si23m90ph.apps.googleusercontent.com">

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<script type="text/javascript">
    function onSignIn(googleUser) {
        nocache = "nocache=" + Math.random() * 1000000; // Para evitar que el navegador guarde en memoría la respuesta HTTP
        var request = new XMLHttpRequest(); //Objeto AJAX para realizar la petición

        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        document.getElementById("email").innerHTML = profile.getEmail();

        request.open("GET", "/LoginGoogle?email=" + profile.getEmail(), true); // preparar petición HTTP
        request.send(null); // Enviar petición HTTP
    }

</script>


<body>

<div class="wrapper">
    <div id="header">

        <a href="">Login </a>
        <button onclick="myFunction()">Sign Out</button>
        <script id="exit">
            function myFunction() {
                gapi.auth2.getAuthInstance().disconnect();
                location.reload();
            }
        </script>
    </div>
    <div class="st-wrapper">

        <div class="g-signin2" data-onsuccess="onSignIn"></div>

        <h1 class='st-tittle'>SpotyTube</h1>

        <div class='pre-awesome-line'></div>


        <section class="content wrapper">
            <h2>Buscador</h2>
            <p> oauth_token: {{ oauth_token}}</p>

            <div class="box">
                <div class="container-1">
                    <span class="icon"><i class="fas fa-search"></i></span>
                    <input type="search" id="search" placeholder="Search..."/>
                </div>
            </div>

            <p>state: {{state}}</p>
            <p>client_id: {{client_id}}</p>
            <p>app_name: {{app_name}}</p>

            <p id="email">None </p>
        </section>
    </div>
</div>
</body>
</html>

